<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title == "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">ABOUT</a>
                <a class="link" href="{{ site.url }}/blog">BLOG</a>
                <!--<a class="link" href="{{ site.url }}/blog-ja">BLOG(ja)</a>-->
                <a class="link" href="{{ site.url }}/categories">ARCHIVE</a>
                <!--<a class="link" href="{{ site.url }}/code">CODE</a>-->
            </li>
        {% endif %}

        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
                <a class="link" href="{{ site.url }}/about">ABOUT</a>
                <a class="link" href="{{ site.url }}/blog">Blog</a>
                <!--<a class="link" href="{{ site.url }}/blog-ja">Blog(ja)</a>-->
                <!--<a class="link" href="{{ site.url }}/code">Code</a>-->
                <a class="link" href="{{ site.url }}/categories">Archive</a>
                <a class="link" href="{{ site.url }}/tags">Tags</a>
            </li>
            <br>
            <!--<a href="/search/">Search</a>-->
        {% endif %}
    </ul>
</nav>
