---
layout: default
---
{% include adsense.html %}
{% include analytics-google.html %}

{% include blog-header.html %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- github.io_head -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1007594823245099"
     data-ad-slot="7774075638"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{content}}

{% if page.title == "Tech-Note" %}
	{% include search.html %}
{% endif %}

{% include footer.html %}
